$bgClolor: #0ff;

body {
  background-color: $bgClolor;
  p {
    font-size: 80px;
    font-weight: bold;
  }
  // .imgs {
  //   display: inline-block;
  //   background: url('../images/logos.png') no-repeat center center;
  // }
}

