$bgClolor: #0ff;

body {
  background-color: $bgClolor;
  p {
    font-size: 40px;
    font-weight: bold;
  }
  .imgs {
    display: inline-block;
    background: url('../images/logos.png') no-repeat center center;
  }
}

