// 容器内容区域大小
$min-width: 1226px;

/**设置常规背景颜色*/
$bgcolor_black-S: #333;
$bgcolor_black-SS: #424242;
$bgcolor_gray-S: #b0b0b0;
$bgcolor_gray-SS: rgba(105, 101, 101, 0.6);
$bgcolor_orange-S: #ff6700;
$bgcolor-white-S: #fff;

/**设置字体颜色*/
$color-black-l: #333;
$color-shopping-l: #424242;
$color-gray-l: #b0b0b0;
$color-gray-ll: #e0e0e0;
$color-white-l: #fff;
$color-orange_hover-l: #ff6700;

/*设置字体大小*/
$font-80: 80px; // 产品站大标题
$font-38: 38px; // 产品站标题
$font-28: 28px; // 导航标题
$font-26: 26px; // 产品站副标题
$font-24: 24px;
$font-22: 22px;
$font-20: 20px; //  用在较为重要的文字、操作按钮
$font-18: 18px; //  用于大多数文字
$font-16: 16px; //  用于辅助性文字
$font-14: 14px; //  用于一般文字
$font-12: 12px; //  网站默认大小
